body {
    background-color: #ebebeb;
}
.nav {
  text-align: center;
  font-size: 22px;
}
.container {
  width: 50%;
  margin: auto;
  padding: 20px 10px;
  border: 1px solid teal;
  margin: 10px auto 10px auto;
  color: white;
  background-color: teal;
  font-size: 17px;
  font-weight: bold;
  font-family: fantasy;
  border-radius: 5px;
}

.container > img {
  float: right;
  width: 200px;
  height: 200px;
  border-radius: 6px;
  margin: 0 0 0 8px;
}
.item {
    background:  #ebebeb;
    height: 210px;
    width:  210px;
    margin:  5px;
}
img {
    height:  210px;
    width:  210px;
    border-radius:  100%;
}
.row {
    float: left;
    padding:  50px;
}
.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img:hover {
    border-radius:  10px;
}